.search-bar {
	background-color: #539ad4;
	border-radius: 7px;
	display: grid;
	grid-template-columns: 2em auto;
	height: 2em;
	border: solid 1px #bebebe;
	justify-items: center;

	> svg {
		margin: auto;

		> path {
			transition: fill 0.2s;
		}

		&:hover {
			cursor: pointer;

			> path {
				fill: rgb(207, 201, 193);
			}
		}
	}

	.search-wrapper {
		height: 100%;
		border-left: solid 1px #bebebe;

		> input {
			height: 100%;
			width: 15em;
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
			border: none;
			outline: none;
			padding-left: 7px;
			transition: background-color 0.2s;
			background-color: rgba($color: white, $alpha: 0);

			&:focus,
			&:hover {
				background-color: rgba($color: white, $alpha: 0.15);
			}

			&::placeholder {
				color: honeydew;
			}
		}
	}
}
