$oven-height: 65vmin;
$width-factor: 1.25;
$dial-size: 3.5em;

.sign-in {
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: rgb(228, 114, 72);
	border-radius: 15px;
	width: $oven-height * $width-factor;
	height: $oven-height;
	margin: auto;
	padding: 0.75%;
	position: relative;
	box-shadow: 1px 1px 3px brown;

	&::before {
		content: '';
		width: 100%;
		height: 1.5em;
		background-color: burlywood;
		position: absolute;
		z-index: -1;
		clip-path: polygon(10% 100%, 13% 0%, 43% 0%, 46% 100%, 56% 100%, 59% 0%, 87% 0%, 90% 100%);
		left: 50%;
		transform: translate(-50%, -1em);
	}

	.controls {
		margin: auto;
		display: grid;
		width: 100%;
		padding: 0 10%;
		grid-template-columns: repeat(2, $dial-size) 1fr repeat(2, $dial-size);
		gap: 10px;
		justify-content: baseline;
		padding-bottom: $dial-size * 0.2;
		border-bottom: dashed 1px #cc1338;

		.dial {
			width: $dial-size;
			height: $dial-size;
			background-color: crimson;
			transition: 0.2s;
			border-radius: 50%;
			text-align: center;

			&:hover {
				cursor: pointer;
				background-color: #ec4141;
			}

			svg {
				height: 100%;
				width: 100%;
				padding: 25%;
			}
		}

		> h1 {
			align-self: center;
			justify-self: center;
		}
	}

	.form-wrapper {
		display: grid;
		align-items: center;
		justify-content: center;
		background-color: #cc1338;
		border-radius: 7px;
		align-self: center;
		justify-self: center;
		width: 95%;
		height: 95%;

		> form {
			display: grid;
			grid-auto-rows: 2em;
			width: 55%;

			> h1 {
				text-align: center;
			}

			> input {
				background-color: rgba($color: white, $alpha: 0.18);
				border: none;
				outline: none;
				border-radius: 7px;
				font-size: large;
				padding: 10px 5px;
				height: 1.5em;
				transition: background-color 0.2s;

				&:focus,
				&:hover {
					background-color: rgba($color: white, $alpha: 0.3);
				}

				&::placeholder {
					color: honeydew;
				}
			}

			> button {
				border-radius: 7px;
				border: none;
				outline: none;
				user-select: none;

				background-color: steelblue;

				&:hover {
					filter: brightness(105%);
					box-shadow: 0 0 2px lightcyan;
				}
			}
		}
	}
}
