$oven-height: 65vmin;
$width-factor: 1.25;
$dial-size: 3.5em;

.sign-in {
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: rgb(228, 114, 72);
	border-radius: 15px;
	width: $oven-height * $width-factor;
	height: $oven-height;
	margin: auto;
	padding: 0.75%;
	position: relative;
	box-shadow: 1px 1px 3px brown;

	&::before {
		content: '';
		width: 80%;
		height: 1.5em;
		background-color: burlywood;
		position: absolute;
		z-index: -1;
		clip-path: polygon(0% 100%, 3% 0%, 33% 0%, 36% 100%, 66% 100%, 69% 0%, 97% 0%, 100% 100%);
		left: 50%;
		transform: translate(-50%, -1em);
	}

	.controls {
		display: grid;
		grid-template-columns: $dial-size $dial-size;
		gap: 10px;
		justify-content: baseline;
		padding-bottom: $dial-size * 0.2;
		border-bottom: dashed 1px #cc1338;

		.dial {
			width: $dial-size;
			height: $dial-size;
			background-color: crimson;
			transition: 0.2s;
			border-radius: 50%;
			text-align: center;

			&:hover {
				cursor: pointer;
				background-color: #ec4141;
			}

			svg {
				height: 100%;
				width: 100%;
				padding: 25%;
			}
		}
	}

	.form-wrapper {
		display: grid;
		align-items: center;
		justify-content: center;
		background-color: #cc1338;
		align-self: center;
		justify-self: center;
		width: 95%;
		height: 95%;

		> form {
			display: grid;
			grid-auto-rows: 2em;
			width: 55%;

			> h1 {
				text-align: center;
			}

			> input {
				border: none;
				outline: none;
				border-radius: 7px;
				font-size: large;
				padding: 10px 5px;
				height: 1.5em;
			}

			> button {
				border-radius: 7px;
				border: none;
				outline: none;
			}
		}
	}
}
