.toggle-group {
	display: grid;
	grid-template-rows: 15px auto;
	gap: 0.45em;

	.description {
		font-size: medium;
	}

	[id$='-labels'] {
		background-color: steelblue;
		border-radius: 12px;
		display: grid;
		position: relative;

		* {
			grid-row: 1;
			text-align: center;
		}

		[id$='-ui'] {
			z-index: 1;
			position: absolute;
			border-radius: inherit;
			height: 100%;
			background-color: brown;
		}

		.modes {
			z-index: 2;
			padding: 3% 0;
			display: grid;

			label {
				transition: color 0.2s;

				&:hover {
					cursor: pointer;
					color: burlywood;
				}
			}
		}
	}
}
