$toggle-radius: 12px;

.toggle-group {
	display: grid;
	grid-template-rows: 15px auto;
	gap: 0.45em;

	.description {
		font-size: 15px;
	}

	[id$='-labels'] {
		background-color: steelblue;
		border-radius: $toggle-radius;
		display: grid;
		position: relative;

		* {
			grid-row: 1;
			text-align: center;
		}

		[id$='-ui'] {
			z-index: 1;
			position: absolute;
			border-radius: inherit;
			height: 100%;
			background-color: brown;
		}

		.modes {
			z-index: 2;
			display: grid;

			label {
				padding: 10% 0;
				transition: 0.2s;
				user-select: none;

				&:hover {
					cursor: pointer;
					color: #dfc7a8;
					border-radius: $toggle-radius;

					&:not(.active) {
						background-color: #59b2db;
					}
				}
			}
		}
	}
}
